.main-tienda {
    height: 80%;

    hr {
        margin: 1rem 0;
        color: #f8077f;
        border: 0;
        border-top: 5px solid;
        opacity: .25;
    }



    h1 {
        font-family: 'Dancing Script', cursive;
        display: block;
        font-size: 65px;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-warm-girl-heart-pink-banner-background-dropspink-gradient-backgroundwarmteenage-image_83306.jpg);

        strong {
            color: #f8077f;
        }
    }
    
    .row{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    

    .medios-de {
        display: flex;
        text-align: center;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
        padding: 20px;

        img {
            margin: 0px auto;
        }

        p {
            margin: 0px auto;
        }

        .medios-tarjeta{
            padding: 25px;
            border-left: #f8077f solid;
            border-right: #f8077f solid;
        }
    }


    .imagen {
        max-width: 100%;
    }
    
    a {
        cursor: pointer;
    }
    
    .alerta {
        font-weight: 700;
    }
    
    
    .card-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .modal{
        --bs-modal-width: 550px;
    }
    .modal-contenedor {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    
    
    .mt-3 {
        margin: 3px;
    }
    
    .img-fluid {
        width: 200px;
        padding: 20px;
    }
    
    .modal-content {
        background-color: #E3D8D6;
    }
    
    .parrafo {
        font-weight: 900;
        font-style: italic;
    }
    
    #precioTotal {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .boton {
        opacity: 0;
    }
}
