.main-index {
    height: 80%;
    margin-top: 10px;

    section {
        width: 100%;
        margin: 0 auto;

        .intro-index {
            width: 80%;
            margin: 0 auto;
            display: block;
            text-align: center;

            h1 {
                strong {

                    color: #f8077f;
                }
            }
        }

        .container-intro-index {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style: none;
            width: 70%;
            margin: 0 auto;
            justify-items: center;

            .lista-container {
                display: flex;
                align-items: center;
                padding: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                width: 180px;
                height: auto;
                margin-top: 10px;
                text-align: center;
                font-family: none;
            }
        }
    }


    .carousel {
        transition: all;
        margin-top: 15px;
    }

    .img-oculta {

        img {
            display: none;
        }
    }
    .row{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .imagen {
        max-width: 100%;
    }
    
    a {
        cursor: pointer;
    }
    
    .alerta {
        font-weight: 700;
    }
    
    
    .card-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .modal{
        --bs-modal-width: 550px;
    }
    .modal-contenedor {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    
    
    .mt-3 {
        margin: 3px;
    }
    
    .img-fluid {
        width: 200px;
        padding: 20px;
    }
    
    .modal-content {
        background-color: #E3D8D6;
    }
    
    .parrafo {
        font-weight: 900;
        font-style: italic;
    }
    
    #precioTotal {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .boton {
        opacity: 0;
    }
}