.main-sucursales {
    margin-top: 10px;
    background-color: #f8389817;
    display: block;


    .txtSuc h1{
        text-align: center;
        font-size: 36px;
    }


    .txtSuc h3 {
        text-align: center;
        font-size: 24px;
    }

    .map {
        width: 100%;
    }
}